<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">

        <a href="/" class="btn btn-info rounded-pill px-3">Сайт Денис Насонова</a>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-2"><a class="text-body-secondary" href="https://t.me/deniskanason" target="_blank">TELEGRAM
            <svg class="bi" width="1" height="1">
                <use xlink:href="#twitter"></use>
            </svg>
        </a></li>
        <li class="ms-2"><a class="text-body-secondary" href="https://instagram.com/deniskanason" target="_blank">INSTAGRAM
            <svg class="bi" width="1" height="1">
                <use xlink:href="#instagram"></use>
            </svg>
        </a></li>
        <li class="ms-2"><a class="text-body-secondary" href="https://vk.com/deniskanason" target="_blank">VKONTAKTE
            <svg class="bi" width="1" height="1">
                <use xlink:href="#instagram"></use>
            </svg>
        </a></li>
        <li class="ms-2"><a class="text-body-secondary" href="https://github.com/DeniskaNason" target="_blank">GITHUB
            <svg class="bi" width="1" height="1">
                <use xlink:href="#facebook"></use>
            </svg>
        </a></li>
    </ul>
</footer>