<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="btn btn-info rounded-pill px-3">Сайт Дениса Насонова</a>
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {% if messages %}
            {% for i in messages %}
                <div class="btn btn-warning rounded-pill px-3" >
                    {{ i }}
                </div>
            {% endfor %}
        {% endif %}
    </ul>

    <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}"><button type="button" class="btn btn-primary">Профиль</button></a>
            <a href="{% url 'exit' %}"><button type="button" class="btn btn-secondary">Выйти</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
            <a href="{% url 'registration' %}"><button type="button" class="btn btn-primary">Регистрация</button></a>
        {% endif %}

    </div>
</header>
