<div class="card">
    <h2>ОБО МНЕ</h2>
    <div class="fakeimg" style="height:400px; width: 400px">Картинка</div>
    <p>Я МОЛОДЕЦ</p>
</div>
<div class="card">
    <h3>ПОПУЛЯРНЫЕ ПОСТЫ</h3>
    <div class="fakeimg">КАРТИНКА</div>
    <br>
    <div class="fakeimg">КАРТИНКА</div>
    <br>
    <div class="fakeimg">КАРТИНКА</div>
</div>
<div class="card">
    <h3>ПОДПИСЫВАЙТЕСЬ</h3>
    <p>TELEGRAM</p>
    <p>INSTAGRAM</p>
    <p>VKONTAKTE</p>
    <p>GITHUB</p>
</div>
<div class="card">
    <button>ПРЕДЛОЖИТЬ НОВОСТЬ</button>
</div>