{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>       <!--BLOCK TITLE -->

    <link rel="stylesheet" href="{% static 'blog/css/forms.css' %}">
</head>
<body>
<div class="header">
    <h2><a href="/">Блог Дениса Насонова</a></h2>
    <h4><a href="/registration">Регистрация</a> <a href="">Авторизация</a></h4>
    {% if messages %}
    {% for i in messages %}
        <div class="alert">
            {{ i }}
        </div>
    {% endfor %}
{% endif %}
</div>

<div class="row">
    <div class="leftcolumn">

        {% block content %}            <!--BLOCK CONTENT -->

        {% endblock %}
    <div class="pagin">
    {% include 'includes/pagination.html' %}               <!--INCLUDE PAGINATION -->
    </div>
    </div>
    <div class="rightcolumn">
        {% include 'includes/right_column.html' %}         <!--INCLUDE RIGHT-COLUMN -->
    </div>
</div>

</body>

<div class="footer">
    {% include 'includes/footer.html' %}                   <!--INCLUDE FOOTER -->
</div>
