{% extends 'blog/base.html' %}

{% block title %}
    Блог Дениса Насонова
{% endblock %}



{% block content %}
    {% for i in posts %}
        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1">{{ i.name }}</h2>
            <p class="blog-post-meta">{{ i.publication_date }}</p>

            <p>{{ i.description|truncatewords:50 }}</p>
        </article>
        <form action="{{ i.get_url }}">
            <button class="btn btn-outline-primary">Читать далее</button>
        </form>
        <p></p>
    {% endfor %}
{% endblock %}