{% extends 'blog/base.html' %}

{% block title %} НАЗВАНИЕ СТАТЬИ {% endblock %}

{% block content %}
    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{ post.name }}</h2>
        <p class="blog-post-meta">Теги:
            {% for i in post.tags.all %}
                <a href="{{ i.get_url }}">{{ i.name }}</a>
            {% endfor %}

        <p class="blog-post-meta">{{ post.publication_date }} от <a href="#">{{ post.author }}</a></p>
        </p>

        <p>{{ post.description|linebreaks }}</p>
        <p class="btn btn-secondary rounded-pill px-3">Рейтинг статьи: {{ post.rating }}</p>

    </article>
{% endblock %}