{% extends 'blog/base.html' %}

{% block title %}
    Профиль пользователя
{% endblock %}




{% block content %}
    <body classname="snippet-body">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-3"><img class="rounded mt-5"
                                                                                             width="100px"
                                                                                             height="100px"
                                                                                             src="{{ user.profile.img.url }}">
                    <span class="font-weight-bold">@{{ user.username }}</span>
                </div>
            </div>

            <div class="col-md-7 border-right">
                <div class="p-5 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Данные пользователя</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels"><b>Имя: </b>{{ user.first_name }}</label></div>
                        <div class="col-md-6"><label class="labels"><b>Фамилия: </b>{{ user.last_name }}</label></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels"><b>Электронная почта: </b>{{ user.email }}</label></div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript">#</script>
    <script type="text/javascript">
        var myLink = document.querySelectorAll('a[href="#"]');
        myLink.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
            });
        });
    </script>

    </body>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}




